{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<div></div>
{% endblock %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Mes Commandes</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'blog:index' %}">Home</a>
                            <span>Mes Commandes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Commandes Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Mon Compte</span>
                        </div>
                        <ul>
                            {% if request.user.profil_vendeur %}
                                <li class="{% if request.resolver_match.view_name == 'Ecommerce:seller_dashboard' %}active{% endif %}"><a href="{% url 'Ecommerce:seller_dashboard' %}">Dashboard</a></li>
                            {% endif %}
                            {% if request.user.livreur_profile %}
                                <li class="{% if request.resolver_match.view_name == 'Ecommerce:livreur_dashboard' %}active{% endif %}"><a href="{% url 'Ecommerce:livreur_dashboard' %}">Dashboard</a></li>
                            {% endif %}
                            <li class="{% if request.resolver_match.view_name == 'Ecommerce:profile' %}active{% endif %}"><a href="{% url 'Ecommerce:profile' %}">Profil</a></li>
                            <li class="{% if request.resolver_match.view_name == 'Ecommerce:commandes' %}active{% endif %}"><a href="{% url 'Ecommerce:commandes' %}">Mes Commandes</a></li>
                            <li class="{% if request.resolver_match.view_name == 'Ecommerce:favorite' %}active{% endif %}"><a href="{% url 'Ecommerce:favorite' %}">Mes Favoris</a></li>
                            <li class="{% if request.resolver_match.view_name == 'Ecommerce:mode_paiement' %}active{% endif %}"><a href="{% url 'Ecommerce:mode_paiement' %}">Mode de Paiement</a></li>
                            {% if request.user.profil_vendeur is none and request.user.livreur_profile is none %}
                                <a href="{% url 'Authentification:devenir_vendeur' %}" class="primary-btn mt-4 mr-4">Devenir Vendeur</a>
                                <a href="{% url 'Authentification:devenir_livreur' %}" class="primary-btn mt-4 mr-4">Devenir Livreur</a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID Commande</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th>Statut</th>
                                    <th>Statut du Paiement</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if commandes %}
                                    {% for commande in commandes %}
                                        <tr>
                                            <td>{{ commande.id }}</td>
                                            <td>{{ commande.date|date:"d M Y" }}</td>
                                            <td>{{ commande.prix_total }} CFA</td>
                                            <td>
                                                {% if commande.statut_commande == "En attente" %}
                                                    <span class="badge badge-warning">En attente</span>
                                                {% elif commande.statut_commande == "Confirmée" %}
                                                    <span class="badge badge-success">Confirmée</span>
                                                {% elif commande.statut_commande == "Annulée" %}
                                                    <span class="badge badge-danger">Annulée</span>
                                                {% elif commande.statut_commande == "Terminée" %}
                                                    <span class="badge badge-success">Terminée</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if commande.paiements.first.statut_paiement == "En attente" %}
                                                    <span class="badge badge-warning">En attente</span>
                                                {% elif commande.paiements.first.statut_paiement == "Effectué" %}
                                                    <span class="badge badge-success">Payé</span>
                                                {% elif commande.paiements.first.statut_paiement == "Echoué" %}
                                                    <span class="badge badge-danger">Échoué</span>
                                                {% endif %}
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                {% if commande.mode.type_paiement == 'Carte de crédit/débit' and commande.paiements.first.statut_paiement == 'EN_ATTENTE' and commande.client_secret %}
                                                    <button class="primary-btn cart-btn complete-payment" data-client-secret="{{ commande.client_secret }}" data-commande-id="{{ commande.id }}">Compléter le paiement</button>
                                                    <div id="error-message-{{ commande.id }}" class="text-red-600 mt-2"></div>
                                                    <div id="payment-element-{{ commande.id }}" style="display: none;"></div>
                                                {% endif %}
                                                <a href="{% url 'Ecommerce:commande_detail' commande.id %}" class="primary-btn cart-btn">Détails</a>
                                                <a href="{% url 'Ecommerce:commande_cancel' commande.id %}" class="icon_close" title="Annuler la commande"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6"><h5>Aucune commande</h5></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Commandes Section End -->

    <!-- Inclure Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('{{ stripe_publishable_key }}');
        const elements = stripe.elements();

        document.querySelectorAll('.complete-payment').forEach(button => {
            button.addEventListener('click', async () => {
                const clientSecret = button.getAttribute('data-client-secret');
                const commandeId = button.getAttribute('data-commande-id');
                const errorMessageDiv = document.getElementById(`error-message-${commandeId}`);
                const paymentElementDiv = document.getElementById(`payment-element-${commandeId}`);

                // Afficher le conteneur du formulaire de paiement
                paymentElementDiv.style.display = 'block';

                // Créer un élément de paiement Stripe
                const paymentElement = elements.create('payment', {
                    clientSecret: clientSecret,
                });
                paymentElement.mount(`#payment-element-${commandeId}`);

                const { error, paymentIntent } = await stripe.confirmPayment({
                    elements,
                    confirmParams: {
                        return_url: window.location.origin + '{% url "Ecommerce:commandes" %}',
                    },
                    redirect: 'if_required',
                });

                if (error) {
                    errorMessageDiv.textContent = error.message;
                } else if (paymentIntent.status === 'succeeded') {
                    // Le paiement est réussi, recharger la page
                    window.location.reload();
                }
            });
        });
    </script>
{% endblock %}
