{% extends 'base/base.html' %}
{% load static %}

{% block header %}
<!-- Hero Section Begin -->
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        {% for categorie in Categories %}
                            <li><a href="#">{{ categorie.nom }}</a></li>   
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
{% endblock %}

{% block content %}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Organi Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'blog:index' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            {% for categorie in Categories %}
                                <li><a href="#">{{ categorie.nom }}</a></li>   
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="10" data-max="540">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                {% if latest_produits %}
                                    {% for latest_produit in latest_produits %}
                                        <div class="latest-prdouct__slider__item">
                                            <a href="{% url 'Ecommerce:detail' latest_produit.id %}" class="latest-product__item">
                                                <div class="latest-product__item__pic">
                                                    <img src="{{ latest_produit.images.url }}" alt="">
                                                </div>
                                                <div class="latest-product__item__text">
                                                    <h6>{{ latest_produit.nom }}</h6>
                                                    <span>{{ latest_produit.prix_actuel }}</span>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                        <div></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            {% for produit in promotion_produit %}
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="{{ produit.images.url }}">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="{% url 'Ecommerce:favorite_add' produit.id %}"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="{% url 'Ecommerce:board_add' produit.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>{{ produit.produit.categorie.nom }}</span>
                                        <h5><a href="{% url 'Ecommerce:detail' produit.id %}">{{ produit.nom }}</a></h5>
                                        <div class="product__item__price">{{ produit.prix_actuel }} <span>{{ produit.prix }}</span></div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <p>No products on sale.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="1">Price: Low to High</option>
                                    <option value="2">Price: High to Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{ page_obj.paginator.count }}</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <a href="?view=grid{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" class="view-mode {% if view_mode == 'grid' %}active{% endif %}">
                                    <span class="icon_grid-2x2"></span>
                                </a>
                                <a href="?view=list{% if page_obj.number %}&page={{ page_obj.number }}{% endif %}" class="view-mode {% if view_mode == 'list' %}active{% endif %}">
                                    <span class="icon_ul"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-list {% if view_mode == 'list' %}list-view{% endif %}">
                    {% for produit in produits %}
                        <div class="col-lg-{% if view_mode == 'grid' %}4{% else %}12{% endif %} col-md-{% if view_mode == 'grid' %}6{% else %}12{% endif %} col-sm-{% if view_mode == 'grid' %}6{% else %}12{% endif %}">
                            <div class="product__item {% if view_mode == 'list' %}list-item{% endif %}">
                                <div class="product__item__pic set-bg" data-setbg="{{ produit.images.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'Ecommerce:favorite_add' produit.id %}"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="{% url 'Ecommerce:board_add' produit.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'Ecommerce:detail' produit.id %}">{{ produit.nom }}</a></h6>
                                    <h5>{{ produit.prix_actuel }}</h5> <!-- Utilisation de prix_actuel pour cohérence -->
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No products available.</p>
                    {% endfor %}
                </div>
                <div class="product__pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}{% if view_mode %}&view={{ view_mode }}{% endif %}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}{% if view_mode %}&view={{ view_mode }}{% endif %}" class="active">{{ num }}</a>
                        {% else %}
                            <a href="?page={{ num }}{% if view_mode %}&view={{ view_mode }}{% endif %}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if view_mode %}&view={{ view_mode }}{% endif %}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
{% endblock %}